pipeline/01_PK_CopyDataTabletoADLS.json
{
	"name": "01_PK_CopyDataTabletoADLS",
	"properties": {
		"activities": [
			{
				"name": "Fetch DB Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM PK_EmpManagement.INFORMATION_SCHEMA.TABLES where TABLE_TYPE ='BASE TABLE';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "PK_AzureSqlTable_Emp_Mnmgt",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Fetch DB Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetch DB Tables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT * FROM ', item().TABLE_SCHEMA , '.' ,item().TABLE_NAME)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "PK_AzureSqlTable_Emp_Mnmgt",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "PK_ADLS_EmployeeDBExport",
									"type": "DatasetReference",
									"parameters": {
										"SchemaNameDS": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										},
										"TableNameDS": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										},
										"FilenameDS": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Stored Procedure/PK_CopyDataTabletoADLS"
		},
		"annotations": []
	}
}