pipeline/02_IfCondition.json
{
	"name": "02_IfCondition",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(1) as count from users",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_user_info",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup1').output.value[0].count,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "No Records",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "IsRecordsAvailable",
								"value": "False"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Evaluate to Trie",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "IsRecordsAvailable",
								"value": "Yes Records are available"
							}
						}
					]
				}
			}
		],
		"variables": {
			"IsRecordsAvailable": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Control Flow activities/01_IF_condition"
		},
		"annotations": []
	}
}