pipeline/02_If_Condition.json
{
	"name": "02_If_Condition",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) from dbo.user_info; ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "PK_SQLTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup1').output.value[0].count,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "count",
								"value": ""
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "countgreater",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "count",
								"value": {
									"value": "@pipeline().parameters.countgreaterthan0",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"countgreaterthan0": {
				"type": "string"
			},
			"count0": {
				"type": "string"
			}
		},
		"variables": {
			"count": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "PK_Control Flow Activity"
		},
		"annotations": []
	}
}